<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
<link rel="stylesheet" type="text/css" href="css/TimeSheet.css">
</head>
<body>
   <form class="modification-form" method="POST" action="/upload">
	<div class="container">
		<h2 align="center">Employee Month Report</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>S_id</th>
					<th>E_id</th>
					<th>Year</th>
					<th>Month</th>
					<th>Date</th>
					<th>In-time</th>
					<th>Out-time</th>
					<th>Lunch_break</th>
					<th>Total_hours</th>
					<th>Holiday</th>
					<th>Project_id</th>
					<th>Remarks</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="userInfo:${userInfoList}">
							
                    <td th:text="${userInfo.serialId}">S_id</td>
					<td th:text="${userInfo.employeeId}">E_id</td>
				    <td th:text="${userInfo.year}">Year</td>
					<td th:text="${userInfo.month}">Month</td>
					<td th:text="${userInfo.date}">Date</td>
					<td th:text="${userInfo.inTime}">In_time</td>
					<td th:text="${userInfo.outTime}">Out_time</td>
					<td th:text="${userInfo.lunchTime}">Lunch_break</td>
					<td th:text="${userInfo.totalHours}">Total_hours</td>
					<td th:text="${userInfo.holiday}">Holiday</td>
					<td th:text="${userInfo.projectId}">Project_id</td>
					<td th:text="${userInfo.remarks}">Remarks</td>

				</tr>
			</tbody>
		</table>
	</div>
<!-- 	<div class="row"> -->
<!-- 		<div class="col text-center"> -->
<!-- 			<button type="save" value="save">save</button> -->
<!-- 			<button type="cancel" value="cancel">cancel</button> -->

<!-- 		</div> -->
<!-- 	</div> -->
	</form>
</body>
<script src="js/Modify.js"></script>

</html>
